@page "/registerCustomer"
@using Dipterv.Shared.Dto.SignIn
@inject IAccountService AccountService
@inject ClientAuthHelper _clientAuthHelper

<h3>Customer registration</h3>

<Field>
    <FieldLabel>Email address</FieldLabel>
    <TextEdit @bind-Text="@Email" Role="TextRole.Email" />
</Field>
<Field>
    <FieldLabel>Password</FieldLabel>
    <TextEdit @bind-Text="@Password" Role="TextRole.Password" />
</Field>


<Button Color="Color.Secondary" Clicked="Register">Register</Button>

@code {

    public string Email { get; set; }
    public string Password { get; set; }

    public async Task Register()
    {
        await AccountService.RegisterUser(
                new EmailPasswordDto
                { 
                    Email = Email,
                    Password = Password
                },
                CancellationToken.None
            );
    }
}
